@model WebApplication6.Resume

@{
    ViewBag.Title = "Create";
    Layout = "~/_LayoutPage1.cshtml";
}

<h2>Create Your Resume</h2>
<script type="text/javascript">
      function showContent(e) {
          var recentChar = String.fromCharCode(e.which);
          var Obj1 = new ActiveXObject("Sapi.SpVoice");
	     		Obj1.Speak(recentChar );
		delete Obj1;

      }
      function speak(id)
      {
        var Obj2 = new ActiveXObject("Sapi.SpVoice");
	            if(id==1)
                {
        		Obj2.Speak("Please eneter your First Name");
		        delete Obj2;
		        }
		        if(id==2)
                {
        		Obj2.Speak("Please eneter your Last Name" );
		        delete Obj2;
		        }
		        if (id == 3) {
		            Obj2.Speak("Please eneter your Mobile Number");
		            delete Obj2;
		        }
		        if (id == 4) {
		            Obj2.Speak("Please eneter your Gender ");
		            delete Obj2;
		        }
		        if (id == 5) {
		            Obj2.Speak("Please eneter your Qualification");
		            delete Obj2;
		        }
		        if (id == 6) {
		            Obj2.Speak("Please eneter your Address");
		            delete Obj2;
		        }
		        if (id == 7) {
		            Obj2.Speak("Please eneter your City");
		            delete Obj2;
		        }
		        if (id == 8) {
		            Obj2.Speak("Please eneter your Expertisy");
		            delete Obj2;
		        }
		        if (id == 9) {
		            Obj2.Speak("Please eneter your Experince");
		            delete Obj2;
		        }
		        if (id == 10) {
		            Obj2.Speak("Please eneter your Extra-Skills ");
		            delete Obj2;
		        }

      }
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
     
    
    @*<div class="form-horizontal">
        <h4>Resume</h4> *@
      @*  <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>*@

<table>
    <tr> 
       <td> First Name
         @*   <div class="form-group">
                @Html.LabelFor(model => model.FName, htmlAttributes: new { @class = "control-label col-md-2" })
              </div>*@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(1)" } })
                @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
        <td> Last Name
       @* <div class="form-group">
    @Html.LabelFor(model => model.LName, htmlAttributes: new { @class = "control-label col-md-2" })
     </div>*@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(2)" } })
                @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
       <td> Phone Number
        @*<div class="form-group">
        @Html.LabelFor(model => model.Phone_No, htmlAttributes: new { @class = "control-label col-md-2" })
    </div> *@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone_No, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(3)" } })
                @Html.ValidationMessageFor(model => model.Phone_No, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
      <td> Gender
       @* <div class="form-group">
       @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
    </div> *@
    </td> 
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(4)" } })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
        <td> Qulification
        @*<div class="form-group">
        @Html.LabelFor(model => model.Qulification, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>*@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qulification, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(5)" } })
                @Html.ValidationMessageFor(model => model.Qulification, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>    
    <tr> 
        <td> Address
        @*    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
    </div> *@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(6)" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
        <td> City
       @* <div class="form-group">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>*@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(7)" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
        <td> Expertisy
        @*<div class="form-group">
        @Html.LabelFor(model => model.Expertisy, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>*@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expertisy, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(8)" } })
                @Html.ValidationMessageFor(model => model.Expertisy, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
        <td> Experince
        @*<div class="form-group">
      @Html.LabelFor(model => model.Experince, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>*@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Experince, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(9)" } })
                @Html.ValidationMessageFor(model => model.Experince, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr> 
        <td> Extra-Skills
        @*<div class="form-group">
    @Html.LabelFor(model => model.ExtraSkills, htmlAttributes: new { @class = "control-label col-md-2" })
    </div> *@
    </td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtraSkills, new { htmlAttributes = new { @class = "form-control", onkeypress = "showContent(event)", onfocus = "speak(10)" } })
                @Html.ValidationMessageFor(model => model.ExtraSkills, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr> 
  <tr>
       
        <td  style="visibility:hidden;">
            <div class="col-md-10"> 
           @Html.TextBox("Email", Convert.ToString(Session["email"]), htmlAttributes: new { @class = "form-control"  } )
              
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" item align="center"> 
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </td> 
    </tr>
</table>  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
