@model WebApplication6.Post_Job

@{
    ViewBag.Title = "Details";
    Layout = "~/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post_Job</h4>
    <hr />
    <dl class="dl-horizontal">
      @*  <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
          *@
        <dt>
            @Html.DisplayNameFor(model => model.Comapany_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comapany_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Descripation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Descripation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Require_Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Require_Qualification)
        </dd>

    </dl>
</div>
<p>
    @*Apply ni link baki *@
    @Html.ActionLink("Edit", "Edit", new { id = Model.Email }) |
    @Html.ActionLink("Back to List", "Index")
    @*baki onclick*@
    <input type="submit" value="Next" class="btn btn-default" />
    <input type="submit" value="Apply" class="btn btn-default" onclick="" />
</p>
