@model WebApplication6.Trainer_Details

@{
    ViewBag.Title = "Login";
    Layout = "~/_LayoutPage1.cshtml";
}

<h2>Login Here </h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table>
        <tr>
           <td>
                @Html.Label("Email ID")
            </td>
            <td>
                @Html.EditorFor(Model => Model.TEmail)
                <div>
                    @Html.ValidationMessageFor(Model => Model.TEmail)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Password :-
            </td>
            @*<td valign="top">
                @Html.LabelFor(model => model.TPWD)
            </td>*@
            <td>
                @Html.PasswordFor(model => model.TPWD)
                <div>
                    @Html.ValidationMessageFor(model => model.TPWD)
                </div>
            </td>
        </tr>
        <tr>
            
            <td rowspan="2" align="center">
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
}

